* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px
  10px/16px = .625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/*************************************/
/* HEADER */
/*************************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #050505;
  height: 6.4rem;
  padding: 0 3.2rem;
  position: relative;
}

.logo {
  height: 6rem;
}

/*************************************/
/* NAVIGATION */
/*************************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: rgb(197, 197, 197);
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  transition: background-color 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #12b886;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #12b886;
  letter-spacing: 1px;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #20c997;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 8rem;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(5, 5, 5, 0.952);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/*************************************/
/* HERO SECTION */
/*************************************/

.section-hero {
  background-color: #c3fae8;
  padding: 4.8rem 0 9.6rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(34, 184, 207, 0.3),
      rgba(34, 184, 207, 0.3)
    ),
    url("../img/stadium_hero.png");
  background-size: cover;
  background-position: 0% 55%;
  height: 100vh;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 1.6rem 3.2rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 9px;
}

.heading-primary {
  font-weight: 700;
  color: white;
  letter-spacing: -0.5px;
  font-size: 6.4rem;
  margin-bottom: 4.8rem;
}

.hero-description {
  font-size: 2rem;
  margin-bottom: 4.8rem;
  color: white;
}

/* .dancing-panda {
  display: inline-block;
  justify-content: left;
  width: 20rem;
  margin-bottom: 1.2rem;
} */

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  cursor: pointer;
  font-family: inherit;
  transition: background-color 0.3s;
}

.btn--predict,
.btn--learn,
.modal-btn {
  background-color: #12b886;
  color: white;
  padding: 1.2rem;
  margin-left: 2rem;
}

.modal-btn:hover,
.btn--predict:hover,
.btn--learn:hover,
.btn--form:hover {
  background-color: #20c997;
}

.modal-btn {
  border: none;
  padding: 1.4rem;
}

.hero-video {
  display: flex;
  margin-top: 4.8rem;
  margin-bottom: 4.8rem;
  align-items: center;
  justify-content: center;
}

.hero-video-iframe {
  width: 96rem;
  height: 48rem;
  position:relative;
}

/*************************************/
/* HOW IT WORKS SECTION */
/*************************************/
.section-how {
  padding: 9.6rem;
}

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 9px;
}
.grid--2-cols {
  grid-template-columns: 6fr 4fr;
}

.grid--first,
.grid--second {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
  height: 32rem;
  margin-bottom: 3.2rem;
}

.grid--first {
  background-color: #63e6be;
  box-shadow: 0 1.2rem 1.2rem rgba(0, 0, 0, 0.1);
}

.grid--second {
  background-color: #8ce99a;
  grid-template-columns: 4fr 6fr;
  box-shadow: 0 1.2rem 1.2rem rgba(0, 0, 0, 0.1);
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #12b886;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 6.4rem;
  letter-spacing: 0.75px;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 2.4rem;
  color: #087f5b;
}

.step-number {
  font-size: 3.2rem;
  font-weight: 600;
  color: #999;
  margin-bottom: 2.4rem;
  margin-top: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.2rem;
  margin-right: 2.4rem;
  color: #087f5b;
}

.grid--second .step-description,
.grid--second .step-number,
.grid--second .heading-tertiary {
  margin-left: 2.4rem;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img {
  width: 100%;
  transform: scale(1.3);
}

.circle img {
  transition: 1s ease;
}

.circle img:hover {
  border-radius: 50%;
  transition: 1s ease;
}

.step-description a:link,
.step-description a:visited {
  text-decoration: underline;
  color: #055f44;
}

.step-description a:hover,
.step-description a:active {
  text-decoration: none;
  color: #12b886;
}

.section-standings-main {
  padding: 9.6rem 0;
}
/*************************************/
/* TESTIMONIALS SECTION */
/*************************************/

.section-testimonials {
  background-color: #c3fae8;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  height: 9.6rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-img:hover {
  transform: scale(1.1);
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

/*************************************/
/* STANDINGS SECTION */
/*************************************/

.standings-cell {
  display: flex;
  align-items: center;
}

.standings-cell img {
  margin-right: 2.4rem;
}
.section-standings {
  padding: 0;
}

.container-standings {
  display: flex;
  justify-content: center;
}

:root {
  --size: 400px;
  --blue: #aad5ff;
  --lb: rgba(0, 0, 0, 0.5);
}
.container-poly {
  width: var(--size);
  height: var(--size);
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  justify-items: center;
  align-items: center;
  filter: drop-shadow(0px 0px 7px rgba(1, 1, 1, 0.7));
}
.productImage {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  width: var(--size);
  height: var(--size);
  background-size: cover;
  clip-path: polygon(
    20% 20%,
    50% 20%,
    50% 20%,
    80% 20%,
    80% 50%,
    80% 50%,
    80% 80%,
    50% 80%,
    50% 80%,
    20% 80%,
    20% 50%,
    20% 50%
  );
  transition: all 0.7s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.first-place-img {
  background-image: url("../img/Boo.png");
  background-color: #148bff;
}
.second-place-img {
  background-image: url("../img/Ashley.jpg");
  background-color: #aace29;
}

.third-place-img {
  background-image: url("../img/Mari.png");
  background-color: #aace29;
}

h4,
ul,
span {
  padding: 0;
  margin: 0;
}

.place,
.dolor {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  z-index: 1;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.place ul li,
.dolor ul li {
  list-style: none;
  font-size: 2rem;
  width: 4rem;
  height: 3rem;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #12b886;
}
/* .dolor {
  grid-column: 2;
  grid-row: 2;
}
.dolor ul li span {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  display: inline-block;
}
.red {
  background-color: red;
}
.yellow {
  background-color: greenyellow;
}
.blue {
  background-color: #0070ee;
} */
.points {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  z-index: 1;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.place h4 {
  font-size: 1.8rem;
}
.points h4 {
  font-size: 1.8rem;
  margin-bottom: 8px;
}
.points span {
  font-size: 2rem;
  width: 4rem;
  height: 3rem;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #12b886;
}
.productName {
  grid-column: 1;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  z-index: 1;
  transition: all 0.7s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.productImage:hover {
  clip-path: polygon(
    20% 0%,
    50% 0%,
    50% 20%,
    100% 20%,
    100% 50%,
    80% 50%,
    80% 100%,
    50% 100%,
    50% 80%,
    0% 80%,
    0% 50%,
    20% 50%
  );
  transform: rotate(-15deg);
  transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}
.productImage:hover ~ * {
  opacity: 1;
  transform: rotate(-15deg);
  transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.container-standings-btn {
  display: flex;
  justify-content: center;
}

.glow-on-hover {
  width: 22rem;
  height: 5rem;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 500;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/*************************************/
/* FOOTER SECTION */
/*************************************/
.footer {
  padding: 2rem 0;
  border-top: 1px solid #eee;
  margin-top: 4.8rem;
}

.grid--footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 4.2rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
}

.meme {
  color: #767676;
}

/*************************************/
/* STANDINGS */
/*************************************/

.standings-body {
  background-color: #96f2d7;
}

.standings-h1 {
  margin: 2.4rem 0;
  display: flex;
  justify-content: center;
}
.standings-container {
  padding: 1.8rem 9.6rem;
}

.standings-table {
  width: 100%;
  font-size: 2rem;
  border-radius: 9px;
  box-shadow: 0 3.2rem 3.2rem rgba(0, 0, 0, 0.14);
}

.standings-table .center-cell {
  text-align: center;
}

.trophy-gold {
  color: gold;
}
.trophy-silver {
  color: silver;
}
.trophy-bronze {
  color: #cd7f32;
}
.superscript {
  vertical-align: super;
  font-size: 1.2rem;
  font-weight: 400;
}

/*************************************/
/* MODAL */
/*************************************/

.modal {
  display: none;
  position: fixed;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  overflow-y: auto;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}
.modal-content {
  position: relative;
  background-color: black;
  padding: 4.8rem;
  margin: auto;
  width: 75%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  color: #12b886;
  font-size: 2.4rem;
  font-weight: 400;
}

.points-p {
  margin-top: 4.8rem;
  margin-bottom: 2.4rem;
}
.modal-list {
  list-style: disc;
  line-height: 1.5;
  font-size: 1.8rem;
  padding-left: 2.4rem;
}
.heading-faq {
  margin-top: 4.8rem;
  margin-bottom: 2.4rem;
  text-decoration: underline;
}

.question-faq {
  margin: 1.2rem 0;
}

.answer-faq {
  font-size: 1.8rem;
  margin-bottom: 3.6rem;
}
.close-btn {
  float: right;
  color: #12b886;
  font-size: 3.2rem;
  font-weight: bold;
}
.close-btn:hover {
  color: #087f5b;
  cursor: pointer;
}
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/*************************************/
/* SUBMISSION FORM */
/*************************************/
.submission-body {
  background-color: #000000de;
}

.heading-div {
  display: flex;
  justify-content: center;
  padding-top: 2.4rem;
}

.submission-mega-form {
  display: flex;
  gap: 4.8rem;
  align-items: left;
}
.submission-form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
  align-items: left;
  color: white;
}

.h2-submit {
  display: flex;
  justify-content: center;
}
.submission-name {
  font-weight: 600;
  font-size: 1.8rem;
  padding: 0 2.4rem;
}

.match-number {
  font-weight: 600;
  font-size: 1.8rem;
  padding: 0 2.4rem;
}

.home-score,
.away-score {
  font-weight: 500;
  font-size: 1.4rem;
  margin-right: 1.2rem;
  display: inline-block;
  width: 10rem;
}

.btn--form {
  background-color: #12b886;
  color: white;
  padding: 1.2rem 36rem;
  margin-bottom: 4.8rem;
  margin-left: 1rem;
  align-self: start;
  border: none;
  display: block;
  width: 60%;
}

.fi {
  transform: scale(2);
  margin-right: 1.2rem;
}

.fi-left {
  margin-left: 4.8rem;
}

.rarr-span {
  padding-left: 1rem;
}

/*************************************/
/* Results and Upcoming */
/*************************************/

/***********************************************************/
/*--- 01 TYPOGRAPHY SYSTEM
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74/ 86 / 98

Font weights:
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700


Line heights:
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
.75x

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

--- 02 COLORS

-Primary: #12b886
-Tints: #20c997;
-Shades: 
-Accents: 
-Greys: #555;

--- 05 SHADOWS

box-shadow:

--- 06 BORDER-RADIUS
Default: 9px


--- 07 WHITESPACE

- Spacing system(px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* TEST */ ;
